Checks: >
  -bugprone-suspicious-include,
  -cert-err33-c,
  -google-runtime-references,
  -hicpp-multiway-paths-covered,
  -hicpp-signed-bitwise,
  -llvm-header-guard,
  -modernize-use-trailing-return-type,
  -readability-function-cognitive-complexity,
InheritParentConfig: true
