Checks: >
  *,
  -*magic-numbers,
  -*uppercase-literal-suffix,
  -android-cloexec-fopen,
  -bugprone-suspicious-string-compare,
  -cert-flp30-c,
  -clang-analyzer-alpha.*,
  -clang-analyzer-security.FloatLoopCounter,
  -hicpp-multiway-paths-covered,
  -hicpp-signed-bitwise,
  -llvm-header-guard,
  -readability-else-after-return
WarningsAsErrors: ''
HeaderFilterRegex: 'pugl/.*|test/.*'
FormatStyle: file
