Checks: >
  *,
  -*avoid-c-arrays,
  -*magic-numbers,
  -*uppercase-literal-suffix,
  -android-cloexec-fopen,
  -bugprone-suspicious-string-compare,
  -cert-flp30-c,
  -clang-analyzer-alpha.*,
  -clang-analyzer-security.FloatLoopCounter,
  -google-runtime-references,
  -hicpp-multiway-paths-covered,
  -hicpp-signed-bitwise,
  -llvm-header-guard,
  -modernize-use-trailing-return-type,
  -readability-else-after-return,
  -readability-implicit-bool-conversion,
  -readability-named-parameter,
WarningsAsErrors: ''
HeaderFilterRegex: 'pugl/.*|test/.*|examples/.*'
FormatStyle: file
