Checks: >
  *,
  -*avoid-c-arrays,
  -*magic-numbers,
  -*uppercase-literal-suffix,
  -android-cloexec-fopen,
  -bugprone-reserved-identifier,
  -bugprone-suspicious-string-compare,
  -cert-dcl37-c,
  -cert-dcl51-cpp,
  -cert-flp30-c,
  -clang-analyzer-alpha.*,
  -clang-analyzer-security.FloatLoopCounter,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-vararg,
  -fuchsia-default-arguments,
  -fuchsia-default-arguments-calls,
  -google-runtime-references,
  -hicpp-multiway-paths-covered,
  -hicpp-named-parameter,
  -hicpp-no-array-decay,
  -hicpp-signed-bitwise,
  -hicpp-vararg,
  -llvm-else-after-return,
  -llvm-header-guard,
  -llvmlibc-*,
  -misc-misplaced-const,
  -misc-non-private-member-variables-in-classes,
  -modernize-use-trailing-return-type,
  -readability-else-after-return,
  -readability-implicit-bool-conversion,
  -readability-named-parameter,
FormatStyle: file
HeaderFilterRegex: 'pugl/.*|test/.*|examples/.*'