Checks: >
  *,
  -*-magic-numbers,
  -*-uppercase-literal-suffix,
  -clang-diagnostic-unused-function,
  -clang-diagnostic-unused-macros,
  -llvmlibc-*,
FormatStyle: file
HeaderFilterRegex: 'pugl/.*'
