Checks: >
  *,
  -*-magic-numbers,
  -*-uppercase-literal-suffix,
  -altera*,
  -clang-diagnostic-unused-function,
  -clang-diagnostic-unused-macros,
  -llvmlibc-*,
  -readability-identifier-length,
FormatStyle: file
HeaderFilterRegex: 'pugl/.*'
